<div class="menu-user-content">
                <div class="menu-user-content-search">
                    <input type="text" placeholder="input search">
                    <i class="fas fa-search"></i>
                </div>
                <div class="menu-user-content-closed">
                    <i class="fas fa-times"></i>
                </div>
</div>