<div class="header-home">
        <div class="header-home-nav">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <a class="navbar-brand home-nav-logo " href="/">Land</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon home-nav-button"></span>
                    </button> 
                    <div class="collapse navbar-collapse navbar-collapse-rsp" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a class="nav-link home-nav-item" href="/">Trang chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link home-nav-item" href="/product/info">Thông tin</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link home-nav-item" href="/product">Dự án</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link home-nav-item " href="#footer-home">Liên hệ</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link home-nav-item " href="/user">Đăng nhập</a>
                        </li>
                      </ul>
                      
                    </div>
                  </nav>
                  
            </div>
        </div>
        <div class="header-home-content">
            <div class="container">
                <div class="home-content-title">
                    <p>HƠN 600.000 NGƯỜI TRUY CẬP</p>
                    <h1>TÌM NHỮNG NGÔI NHÀ PHÙ HỢP VỚI BẠN</h1>
                </div>
            </div>
        </div>
        <div class="header-home-icon-next">
          <a href="#content-home1"><i class="fas fa-angle-double-down animate-icon-next"></i></a>
        </div>
    </div>
    <div id="content-home1" class="content-home">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <h1 class="content-home-title">Ưu Điểm</h1>
              </div>
          </div>
          <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="content-home-item-text animate-gsap1">
                      <h5>Căn hộ cao cấp</h5>
                      <h3>Chất lượng trên hết</h3>
                      <p>Những ngôi nhà mà trên website của chúng tôi sẽ đem lại sự hài lòng cho bạn bởi chất lượng của nó được kiểm định bởi đội ngũ nhân viên của chúng tôi,đảm bảo uy tín của khách hàng</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                  <img id="home-item-image1" class="content-home-item-image" src="./images/bg-home-item-3.jpg">
                </div>
          </div>
           <div class="row mt-5">
              <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                <img id="home-item-image2" class="content-home-item-image" src="./images/bg-home-item2.jpg">
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="content-home-item-text animate-gsap2">
                    <h5>Căn hộ cao cấp</h5>
                    <h3>Tìm Kiếm thông minh</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores hic quibusdam unde voluptatem eveniet pariatur aliquam autem incidunt aperiam suscipit quia cumque fuga fugit saepe quod quo, laborum, eius voluptatum!Aspernatur distinctio beatae odio corrupti veritatis velit asperiores vitae nesciunt dolores! Modi labore fugiat nostrum quos, laborum sit non illum sapiente repudiandae facilis harum tempora dolorum, asperiores culpa omnis eaque!</p>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="content-home-item-text animate-gsap3">
                      <h5>Căn hộ cao cấp</h5>
                      <h3>Tính năng nổi bật</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores hic quibusdam unde voluptatem eveniet pariatur aliquam autem incidunt aperiam suscipit quia cumque fuga fugit saepe quod quo, laborum, eius voluptatum!Aspernatur distinctio beatae odio corrupti veritatis velit asperiores vitae nesciunt dolores! Modi labore fugiat nostrum quos, laborum sit non illum sapiente repudiandae facilis harum tempora dolorum, asperiores culpa omnis eaque!</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                  <img id="home-item-image3" class="content-home-item-image" src="./images/bg-home-item.jpg">
                </div>
           </div>
      
      
      
      
          </div> 
      </div>
      <div class="container-fluid mt-5">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="content-home-slides">
                    <div class="col-12">
                      <h1 class="content-home-title">Khách hàng của chúng tôi</h1>
                    </div>
                    <div class="content-home-slide">
                      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators button-move-slides">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                              <div class="container">
                                <div class="row">
                                  <div class="col-6 ">
                                    <div class="content-home-comment-slide1">
                                      <div class="content-comment-slide1">
                                           <p>Chắc chắn bạn sẽ thích webstite này,nó thật thông minh.</p>
                                           <div class="content-comment-info">
                                               <div class="comment-info-user-name">
                                                   <h4>Duy Sơn</h4>
                                                   <h5>Việt Nam</h5>
                                               </div>
                                               <div class="comment-info-user-img">
                                                 
                                               </div>
                                           </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-6">
                                    <div class="content-home-comment-slide1">
                                      <div class="content-comment-slide1">
                                           <p>Những ngôi nhà thật đẹp,chất lượng </p>
                                           <div class="content-comment-info">
                                               <div class="comment-info-user-name">
                                                   <h4>Duy Tuấn</h4>
                                                   <h5>Việt Nam</h5>
                                               </div>
                                               <div class="comment-info-user-img">
                                                 
                                               </div>
                                           </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                            <div class="container">
                              <div class="row">
                                <div class="col-6">
                                  <div class="content-home-comment-slide1">
                                    <div class="content-comment-slide1">
                                         <p>Tìm kiếm nhanh chóng một ngôi nhà đẹp cho mình</p>
                                         <div class="content-comment-info">
                                             <div class="comment-info-user-name">
                                                 <h4>Duy Sơn</h4>
                                                 <h5>Việt Nam</h5>
                                             </div>
                                             <div class="comment-info-user-img">
                                               
                                             </div>
                                         </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="content-home-comment-slide1">
                                    <div class="content-comment-slide1">
                                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, commodi.</p>
                                         <div class="content-comment-info">
                                             <div class="comment-info-user-name">
                                                 <h4>Duy Tuấn</h4>
                                                 <h5>Việt Nam</h5>
                                             </div>
                                             <div class="comment-info-user-img">
                                               
                                             </div>
                                         </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="container">
                              <div class="row">
                                <div class="col-6">
                                  <div class="content-home-comment-slide1">
                                    <div class="content-comment-slide1">
                                         <p>Đây là một website tiện ích cho ai đang tìm kiếm nhà ở phù hợp với gia đình</p>
                                         <div class="content-comment-info">
                                             <div class="comment-info-user-name">
                                                 <h4>Duy Sơn</h4>
                                                 <h5>Việt Nam</h5>
                                             </div>
                                             <div class="comment-info-user-img">
                                               
                                             </div>
                                         </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="content-home-comment-slide1">
                                    <div class="content-comment-slide1">
                                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, commodi.</p>
                                         <div class="content-comment-info">
                                             <div class="comment-info-user-name">
                                                 <h4>Duy Tuấn</h4>
                                                 <h5>Việt Nam</h5>
                                             </div>
                                             <div class="comment-info-user-img">
                                               
                                             </div>
                                         </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
            </div>
          </div>
      </div>
      <div class="container mt-5">
          <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                <div class="content-home-reviews" id="content-home-reviews">
                    <div class="col-12">
                      <h1 class="content-home-title">Làm việc với chúng tôi</h1>
                    </div>
                    <div class="content-home-reviews-items">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                  <a href="/product"  >
                                    <div class="home-reviews-item">
                                      <i class="fas fa-key icon-reviews"></i>
                                      <h5>Tìm kiếm</br>Nhà</h5>
                                      <p>Hãy tìm kiếm cho mình một ngôi nhà phù hợp .</p>
                                  </div>
                                  </a>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                  <a href="/user">
                                    <div class="home-reviews-item">
                                      <i class="fas fa-building icon-reviews"></i>
                                      <h5>Bán nhà</br>của bạn</h5>
                                      <p>Bạn đang có nhu cầu cần bán một ngôi nhà</p>
                                  </div>
                                  </a>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                  <a href="/product">
                                      <div class="home-reviews-item">
                                        <i class="fas fa-map-marker icon-reviews"></i>
                                        <h5>Thuê</br>Nhà</h5>
                                        <p>Bạn đang có nhu cầu cần thuê một ngôi nhà .</p>
                                      </div>
                                  </a>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                  <a href="/user">
                                      <div class="home-reviews-item">
                                        <i class="fas fa-calculator icon-reviews"></i>
                                        <h5>Đăng nhập</br>webstite</h5>
                                        <p>Đăng nhập để có thể thấy những tính năng hay </p>
                                      </div>
                                  </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div class="footer-home" id="footer-home">
        <div class="container">
          <div class="row ">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="footer-home-left mt-5">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="footer-home-left-box">
                            <h3>Get In Touch</h3>
                            <p>0926k 4th block building,king Avenue,</p>
                            <p>Da Nang City,VN</p>
                            <p>phone: +0444 555 6789</p>
                            <p>Fax: +0444 555 6789</p>
                            <p>Mail: info@example.com</p>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 ">
                        <div class="footer-home-left-box">
                          <h3>Liên Hệ</h3>
                          <p>
                            Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus. Nulla porttitor accumsana tincidunt. Vestibulum ante ipsum primis tempus convallis.
                          </p>
                      </div>
                      </div>
                      <div class="col-lg-12 mt-5">
                          <div class="footer-home-bottom-box">
                            <span>© 2020 Casita. All Rights Reserved | coding by DuySon</span>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="footer-home-right mt-5">
                    <div class="footer-home-right-box">
                        <h3>Subscribe Our Newsletter</h3>
                        <div class="form-subcribe">
                            <input type="text">
                            <button>SUBCRIBE</button>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="footer-home-bottom-rightbox">
                          <span><i class="fab fa-facebook"></i></span>
                          <span><i class="fab fa-twitter"></i></span>
                          <span><i class="fab fa-google-plus-g"></i></span>
                          <span><i class="fab fa-invision"></i></span>
                      </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
<script>
    gsap.registerPlugin(ScrollTrigger)
gsap.from(".home-nav-item",{ duration: 1 ,y:'-200px',stagger:0.2,delay:1,scale:3});
gsap.from(".home-nav-logo",{ duration: 1 ,stagger:1,scale:3,opacity:0});
gsap.from(".home-content-title p",{ duration: 2 ,x:'-100vw',delay:2});
gsap.from(".home-content-title h1",{ duration: 2 ,y:'100vh',delay:2,ease: "bounce.out"});

gsap.from(".content-home-title",{
    scrollTrigger:".content-home-title",
    duration:1,
    opacity:0,
    
    toggleActions:"restart none none none"
})
gsap.from(".content-home-item-text",{
    duration:1,
    stagger:1,
    opacity:0,
    x:'-500px',
    scrub:1,
    start: "center top",
    scrollTrigger:{
    trigger:"content-home-item-text",
    toggleActions:"restart none reverse none"
}})

gsap.from(".content-home-item-image",{
    duration:1,
    opacity:0,
    stagger:1,
    x:'500px',
    scrub:1,
    start: "top center",
    scrollTrigger:{
    trigger:".content-home-item-image",
    toggleActions:"restart none reverse none"
}})
//scroll---content
gsap.from(".home-reviews-item",{
    duration:1,
    opacity:0,
    stagger:1,
    y:'-300px',
    scrub:1,
    start: "top center",
    scrollTrigger:{
    trigger:".home-reviews-item",
    toggleActions:"restart none none none"
}})
</script>